.check_values {
	border-collapse:collapse;
}
.check_values td, .check_values th {
	border:1px solid black;
}

.nav {
	position:fixed;
	top:0px;
	right:0px;
	margin:15px;
	clear:both;
}
.nav ul{
	list-style-type:none;
	padding:0px;
}
.nav li {
	margin:2px;
	border:1px solid black;
}
.nav li a {
	display:block;
	padding:10px;
}

.task_desc {
	width:75%;
	margin:5px;
}

.example_image {
	width:200px;
}

.heading {
	width:75%;
	overflow:auto;
}
.heading h1 {
	margin-bottom:0px;
}
.prev {
	float:left;
	margin:5px;
}
.next {
	float:left;
	margin:5px;
}