java/files/*
java/images/*
java/конспекты/*
java/*.html
java/*.docx
java/*.pdf
csharp/files/*
csharp/images/*
csharp/конспекты/*
csharp/*.html
csharp/*.docx
csharp/*.pdf
js/files/*
js/images/*
js/конспекты/*
js/*.html
js/*.docx
js/*.pdf
php/files/*
php/images/*
php/конспекты/*
php/*.html
php/*.docx
php/*.pdf
решения/java/out
решения/java/.idea/workspace.xml
решения/java/.idea/tasks.xml
решения/java_lab16/target
решения/java_lab16/.idea/workspace.xml
решения/java_lab16/.idea/tasks.xml
решения/cs/lab*/obj
решения/cs/lab*/bin
решения/cs/task*/obj
решения/cs/task*/bin
решения/cs/Classes/obj
решения/cs/Classes/bin
решения/cs/Methods/obj
решения/cs/Methods/bin
решения/cs/packages/*
решения/cs/Caller/obj
решения/cs/Caller/bin
!решения/cs/packages/repositories.config
*.suo
java/postcard/out
java/postcard/.idea/workspace.xml
java/postcard/.idea/tasks.xml
csharp/postcard/postcard/bin
csharp/postcard/postcard/obj
/src/code-complete-citations/styles.css
архив/WpfApp1/ButtonExample/bin
архив/WpfApp1/ButtonExample/obj
архив/WpfApp1/CollectionExample/bin
архив/WpfApp1/CollectionExample/obj
архив/WpfApp1/PropertyUpdateExample/bin
архив/WpfApp1/PropertyUpdateExample/obj

