/ExplorerJourney/Journey1/obj/*
/ExplorerJourney/Journey1/bin/*
/ExplorerJourney/Journey2/obj/*
/ExplorerJourney/Journey2/bin/*
/ExplorerJourney/Journey3/obj/*
/ExplorerJourney/Journey3/bin/*
/ExplorerJourney/Journey4/obj/*
/ExplorerJourney/Journey4/bin/*
/ExplorerJourney/Journey5/obj/*
/ExplorerJourney/Journey5/bin/*
/ExplorerJourney/Journey6/obj/*
/ExplorerJourney/Journey6/bin/*
/ExplorerJourney/Journey7/obj/*
/ExplorerJourney/Journey7/bin/*
/ExplorerJourney/Supplies/obj/*
/ExplorerJourney/Supplies/bin/*
*.suo
