java/files/*
java/images/*
java/code-complete-citations/*
java/*.html
java/*.docx
csharp/files/*
csharp/images/*
csharp/code-complete-citations/*
csharp/*.html
csharp/*.docx
js/files/*
js/images/*
js/code-complete-citations/*
js/*.html
js/*.docx
php/files/*
php/images/*
php/code-complete-citations/*
php/*.html
php/*.docx
решения/java/out
решения/java/.idea/workspace.xml
решения/java/.idea/tasks.xml
решения/cs/lab*/obj
решения/cs/lab*/bin
решения/cs/task*/obj
решения/cs/task*/bin
*.suo
java/postcard/out
java/postcard/.idea/workspace.xml
java/postcard/.idea/tasks.xml
csharp/postcard/postcard/bin
csharp/postcard/postcard/obj
