elven {
	color:darkgrey;
}
elven origin {
	display:none;
}
elven:hover origin {
	display:inline;
}
elven trans {
	display:inline;
}
elven:hover trans {
	display:none;
}
.comment{
	color:darkgrey;
}
.code {
	font-family:monospace;
	display:block;
	white-space:pre;
}