.check_single {
    margin:15px;
	border:1px solid black;
	padding:5px;
    width:calc(100% - 40px);
}
sqrt val {
	border-top: 1px solid black;
}
sqrt:before {
	content:"\221A";
}
.section {
	counter-reset:section;
}
.section h3:after {
	counter-increment:section;
	content: " " counter(section);
}
.check_values {
	border-collapse:collapse;
	width:100%;
	counter-reset:test_case;
}
.check_values td:first-child::before {
	counter-increment:test_case;
	content: counter(test_case);
}
.check_values td, .check_values th {
	border:1px solid black;
	text-align:center;
}
.check_values td:first-child{
	width:40px;
}
.nav {
	position:fixed;
	top:0px;
	right:0px;
	margin:15px;
	clear:both;
}
.nav ul{
	list-style-type:none;
	padding:0px;
	float:left;
}
.nav li {
	margin:2px;
	border:1px solid black;
}
.nav li a {
	display:block;
	padding:7px;
}
.task_block {
	width:80%;
	page-break-inside:avoid;
	padding:10px;
	display:block;
}
.task_block:target{
	background-color:lightgrey;
}
.quiz_block {
	width:80%;
}
.task_desc {
	margin:5px;
}
.example_image {
	width:200px;
}
.lab_nav {
	width:80%;
	overflow:auto;
}
.check_values .preformatted, .preformatted {
	font-family:monospace;
	white-space:pre;
	text-align:left;
	padding:10px;
}
formula {
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
}
fraction {
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
}
numerator {
	display:block;
	border-bottom:2px solid black;
}
denominator {
	display:block;
}
@media print {
	.nav {
		display:none;
	}
	.lab_nav {
		display:none;
	}
	ol li {
		margin-bottom:30px;
	}
	.quiz_block {
		width:100%;
	}
	.hide_on_print .check_values, .hide_on_print .check_single{
		display:none;
	}
	.hide_on_print img{
		display:none;
	}
	.empty_on_print td{
		color:transparent;
	}
	.empty_on_print img{
		visibility:hidden;
	}
}