.check_single {
    margin:15px;
	border:1px solid black;
	padding:5px;
    width:calc(100% - 40px);
}
sqrt val {
	border-top: 1px solid black;
}
sqrt:before {
	content:"\221A";
}
.section {
	counter-reset:section;
}
.section h3:after {
	counter-increment:section;
	content: " " counter(section);
}
table {
	border-collapse:collapse;
}
.check_values, .check_values_v2 {
	width:100%;
	counter-reset:test_case;
}
.check_values td:first-child::before {
	counter-increment:test_case;
	content: counter(test_case);
}
table td, table th {
	border:1px solid black;
	text-align:center;
}
.check_values td:first-child, .check_values_v2 td:first-child{
	width:40px;
}
.check_values td, .check_values_v2 td {
    max-width: 450px;
}
.lab_nav ol {
	list-style:none;
}
.nav {
	position:fixed;
	top:0px;
	right:0px;
	margin:15px;
	clear:both;
}
.nav ul{
	list-style-type:none;
	padding:0px;
	float:left;
}
.nav li {
	margin:2px;
	border:1px solid black;
}
.nav li a {
	display:block;
	padding:7px;
}
.task_block {
	width:80%;
	page-break-inside:avoid;
	padding:10px;
	display:block;
}
.task_block:target{
	background-color:lightgrey;
}
.task_block:target .task_id{
	color:white;
}
.task_id {
	float:right;
	color:lightgrey;
}
.quiz_block {
	width:80%;
}
.quiz_block:target{
	background-color:lightgrey;
}
.task_desc {
	margin:5px;
}
.example_image {
	width:200px;
}
.lab_nav {
	width:80%;
	overflow:auto;
}
.check_values .preformatted, .preformatted {
	font-family:monospace;
	white-space-collapse:preserve;
    text-wrap:pretty;
	text-align:left;
	padding:10px;
}
.stream_values tr td:nth-child(3) {
    border-top-width:0px;
    border-bottom-width:0px;
    text-align:right;
}
.stream_values tr:nth-child(2) td:nth-child(2) {
    border-top-width:0px;
    border-bottom-width:0px;
    text-align:right;
}
.stream_values tr td:nth-child(1){
    border-top-width:0px;
    border-bottom-width:0px;
    text-align:right;
}
.stream_values tr.test_row td:nth-child(2){
    text-align:right;
}
.stream_values tr td:nth-child(2){
    border-top-width:0px;
    border-bottom-width:0px;
    text-align:left;
}
.stream_values .preformatted{
    padding: 0px;
}
.stream_values tr.test_row td {
    border-top-width:1px;
}
.stream_values tr.test_row td:first-of-type {
    border-top-width:1px;
    border-bottom-width:1px;
    text-align:center;
}
.stream_values tr:last-of-type td {
    border-bottom-width:1px;
}
formula {
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
}
fraction {
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
}
formula .abs{
	border-left: solid black 1px;
    border-right: solid black 1px;
    padding: 2px;
}
numerator {
	display:block;
	border-bottom:2px solid black;
}
denominator {
	display:block;
}
spoiler {
	color:darkgrey;
}
spoiler origin {
	display:none;
}
spoiler:hover origin {
	display:inline;
}
spoiler trans {
	display:inline;
}
spoiler:hover trans {
	display:none;
}
.comment{
	color:darkgrey;
}
.step{
	display:none;
}
.step:last-child, .step:target{
	display:block;
}
.step:target ~ .step:last-child{
	display:none;
}
.console{
	background-color:black;
	color:white;
	width:300px;
}
zoom{
	background-color:gray;
	font-size:40pt;
	padding:0px 10px;
}